doctype html
html 
    head 
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width,initial-scale=1')
        link(href="https://fonts.googleapis.com/css?family=Lato:300,300i,700" rel="stylesheet")
        link(rel="stylesheet" href="/css/style.css")
        link(rel="stylesheet" type='image/png' href="/img/favicon.png")
        title Natours | #{title}


    body
        // HEADER
        include _header

        // CONTENT
        block content 
            h1 This is a block content

    // FOOTER
    include _footer































    //- different features of pug

        title Natours | #{tour}
        h1= tour
        //- h1 The Park Camper
        //- p This is just some text

        h2= user.toUpperCase()

        - const x = 9;
        h2= 2 * x 